<?xml version="1.0"?>
<config>
    <modules>
        <Comwrap_InvoiceEmails>
            <version>0.1.0</version>
        </Comwrap_InvoiceEmails>
    </modules>
    <global>
        <models>
            <comwrap_invoiceemails>
                <class>Comwrap_InvoiceEmails_Model</class>
                <resourceModel>comwrap_invoiceemails_resource</resourceModel>
            </comwrap_invoiceemails>
            <comwrap_invoiceemails_resource>
                <class>Comwrap_InvoiceEmails_Model_Resource</class>
            </comwrap_invoiceemails_resource>
        </models>
        <helpers>
            <comwrap_invoiceemails>
                <class>Comwrap_InvoiceEmails_Helper</class>
            </comwrap_invoiceemails>
        </helpers>
        <events>
            <sales_order_invoice_register>
                <observers>
                    <comwrap_invoiceemails>
                        <type>singleton</type>
                        <class>Comwrap_InvoiceEmails_Model_Observer</class>
                        <method>sendEmail</method>
                    </comwrap_invoiceemails>
                </observers>
            </sales_order_invoice_register>
        </events>
        <resources>
            <comwrap_invoiceemails_setup>
                <setup>
                    <module>Comwrap_InvoiceEmails</module>
                </setup>
            </comwrap_invoiceemails_setup>
        </resources>
    </global>
    <default>
        <sales_email>
            <invoice>
                <pdf_to>contact@example.com</pdf_to>
                <pdf_sender>general</pdf_sender>
            </invoice>
        </sales_email>
    </default>
</config>
